@model IEnumerable<AppWebUnisuam.Models.Produtos>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutVendedor";
}

<style>
    .box {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        background-color: #fff;
        max-height: 380px;
    }

    .box-image {
        width: 100%;
        height: auto;
        max-height: 120px;
        object-fit: cover;
        border-radius: 4px;
    }

    .box-body {
        padding: 10px;
    }

    .box-title {
        font-size: 18px;
        font-weight: bold;
    }

    .box-text {
        margin-bottom: 10px;
    }

    .box-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .box-list-item {
        padding: 5px 0;
    }

    .box-footer {
        padding-top: 10px;
    }

</style>
@*<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar</a>
</p>*@
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        @foreach (var item in Model)
        {
            <div class="col mb-4">
                <div class="box">
                    <img src="@item.Imagem" class="box-image" alt="@item.Nome">
                    <div class="box-body">
                        <h5 class="box-title">@item.Nome</h5>
                    </div>
                    <ul class="box-list">
                        <li class="box-list-item">Categoria: @item.Categoria</li>
                        <li class="box-list-item">Preço: R$  @item.Preco</li>
                        <li class="box-list-item">Marca: @item.Marca</li>
                        <li class="box-list-item">Estoque: @item.Estoque</li>
                    </ul>
                    <div class="box-footer">
                        <a asp-action="Vender" asp-route-id="@item.Id" asp-controller="Vendas" class="btn btn-primary">Vender</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>