@model AppWebUnisuam.Models.Vendas

@{
    ViewData["Title"] = "Details";
}

<style>
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    hr {
        margin: 20px 0;
        border: none;
        border-top: 1px solid #ddd;
    }

    .row::after {
        content: "";
        display: table;
        clear: both;
    }

    .col-sm-2 {
        float: left;
        width: 16.66666667%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-sm-10 {
        float: left;
        width: 83.33333333%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .btn {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<h1>Detalhes</h1>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataDaVenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDaVenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorDaVenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormaDePagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormaDePagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>

