@model IEnumerable<AppWebUnisuam.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}

<style>
    .vertical-header {
        /*writing-mode: vertical-lr;
        transform: rotate(180deg);*/
        text-align: center;
        font-size: 12px;
        padding: 8px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .table td {
        padding: 8px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
    }

    .table th {
        padding: 8px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        font-size: 14px;
        font-weight: bold;
    }
</style>

@*<h1>Vendas</h1>*@

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="vertical-header">
                    Data da Venda
                </th>
                <th class="vertical-header">
                    @Html.DisplayNameFor(model => model.Produto)
                </th>
                <th class="vertical-header">
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th class="vertical-header">
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th class="vertical-header">
                    Valor da venda
                </th>
                <th class="vertical-header">
                    @Html.DisplayNameFor(model => model.Funcionario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataDaVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorDaVenda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



